* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: sans-serif;
    color: white;
    min-height: 100vh;
    background-color: black;
}

.flex-container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;


}

#header-logo {

    padding: 1em;
}

header {
    background-color: white;
    color: black;
}

main {
    min-height: 80vh;
}

footer {

    min-height: 50vh;
    background-image: url(/footer-bg.jpg);
    background-size: cover;
}

section {

    height: 20vh;
    background-color: rgb(2, 130, 250);
}


.navbar ul {
    display: flex;
    list-style: none;

}

.navbar li {
    padding: 1rem;

}

section img {
    padding: 2rem 1rem;
    height: 150px;
}

.jumbotron {
    height: 12rem;
    background-image: url(../public/jumbotron.jpg);
    background-size: cover;
    
}