* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}   

body {

    font-family: sans-serif;
    color: white;
    min-height: 100vh;
    background-color: black;
}

#header-logo {

    padding: 1em;
}

header {
    background-color: white;
}

main {
    min-height: 80vh;
}

footer {

    min-height: 50vh;
    background-image: url(/footer-bg.jpg);
}